body {
  margin: 0;
  padding: 0;
  background: #eb7c22 no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.box {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: "Century Gothic", sans-serif;
  border-radius: 8px;
}

.nopage {
  padding: 40px;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-top: 5%;
  font-family: "Century Gothic", sans-serif;
  border-radius: 8px;
  font-size: 40px;
}
