.cutie {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: "Century Gothic", sans-serif;
  border-radius: 15%;
  font-size: 40px;
}
.cutie h5 {
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  border-radius: 15%;
  font-size: 40px;
}

.cutie img {
  border-radius: 50%;
}
